* {
  font-family: Arial, Helvetica, sans-serif;
}

.hello {
  color: red;
}

.todo-card {
  width: 400px;
  border-radius: 10px;
  padding-top: 0px;
}

.header {
  font-weight: lighter;
  box-shadow: 2px 2px 5px #666;
  color: white;
  background: rgb(122, 3, 247);
  background: linear-gradient(
    90deg,
    rgba(122, 3, 247, 1) 0%,
    rgba(162, 86, 208, 1) 72%,
    rgba(174, 4, 207, 1) 96%
  );
  margin: 0;
  border-radius: 10px 10px 0 0;
  padding: 30px 20px 5px 10px;
}

.input-form {
  box-shadow: 2px 2px 5px #666;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.save-btn {
  border-radius: 15px;
  color: white;
  background: rgb(122, 3, 247);
  background: linear-gradient(
    90deg,
    rgba(122, 3, 247, 1) 0%,
    rgba(162, 86, 208, 1) 72%,
    rgba(174, 4, 207, 1) 96%
  );
  padding: 5px 10px;
}

.input-field {
  padding: 5px;
  width: 300px;
  margin-right: 10px;
  border-radius: 15px;
  outline: none;
}

.check-img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.delete-img {
  width: 20px;
  height: 20px;
  margin: 5px;
  margin-right: 10px;
}

.task-card {
  color: rgb(110, 10, 156);
  box-shadow: 2px 2px 5px #666;
  margin: 5px auto;
  margin-top: 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}
.task-card p {
  margin: 5px;
}

.complete {
  color: rgb(99, 182, 45);
}
